#footer {
  border-top:5px solid $gpmSecondColor;
  background-color: $gpmMainColor;
  -webkit-box-shadow: 0px -11px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -11px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -11px 12px 0px rgba(0, 0, 0, 0.75);
z-index: 1;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: $gpmSecondColor;
    }
  }
}