#listPosts {
  color: $gpmTextColor;
  min-height: 100vh;

  article {
    padding-top: 1.5rem;
    width: 100%;
  }

  section {
    z-index: 1;
  }
}

.info-fixed {
  &.--left {
    left: 5%;
  }

  &.--right {
    right: 5%;
  }

  top: 0%;
  position: fixed;
  height: 100vh;

  h2 {
    margin-top: 10vh;
  }
}

.bg-main-color {
  background-color: $gpmMainColor;
}

.video-wrap {
  margin: auto;

  iframe {
    min-height: 100%;
    width: 100%;
  }
}