#listPosts {
  color: $gpmTextColor;

  article {
    width: 100%;
  }

  section {
    z-index: 1;
  }
}

.info-fixed {
  height: 80vh !important;
  overflow-y: scroll;
  width: auto;
  position: fixed;
  max-width: 20vw;

  // position: fixed!important;
  &.--left {
    left: 2%;
  }

  &.--right {
    right: 2%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-main-color {
  background-color: $gpmMainColor;
}