html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: white;
  background-image: url('../img/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#app{
  margin-top: 12vh;
}
//changer la couleur lors du surlignage
::selection {
  background: $gpmMainColor;
  color: white;
}
hr{
  background-color: $gpmSecondColor;
  box-shadow: 0px 1px 2px white;
}
.text-second{
color: $gpmSecondColor;
}
.bg-t-white{
  background-color: rgba($color: #fff, $alpha: .9);
  border-radius: 10px;
}
.m-align{
  display: flex;
  height: 80vh;
}